# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules

# testing
/coverage

# production
/build
client/build
src/server/static

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
definitions.iml

# packages
package-lock.json

# env variables
.env

