.formInput {
    font-size: 1.3rem;
    width: 40%;
    background: white;
    padding: 1.3rem 1.3rem;
}

.formInputError {
    background: #fce8e6;
}

.error {
    color: #c5221f;
}

.errorMessage {
    font-size: 1.05rem;
}
