.queerButton:not([disabled])._221ic, .queerButton:not([disabled])._2DCN-, .queerButton:not([disabled])._3IRMZ {
    background: #ff6164;
    color: #fff;
}

.queerButton._2Agdx {
    font-weight: 700;
}