.result-card {
  width: 350px;
  margin: 10px;
  position: relative;
  color: black;
}

.result-card .actions {
  text-align: right;
  margin-bottom: 25px;
  padding-right: 5px;
  position: absolute;
  right:0;
}

.result-card .result-card-title{
  width: 100%;
}

.result-card .result-card-title h5{
  overflow-wrap: break-word;
}
.result-card .result-card-title div{
  width: 100%;
}

.result-card .actions .flag-for-removal-button {
  min-width: 30px;
  padding: 0;
  padding-left: 6px;
  margin-right: -6px;
  color: #BABABA;
}

.result-card .name {
  text-align: right;
  color: #606060;
  font-size: 16px;
  padding-top: 10px;
}

.result-card .identity {
  text-align: right;
  color: #606060;
  font-size: 12px;
  line-height: 12px;
}

.result-card .accept, .result-card .reject {
  width: 175px;
}
