body {
  margin: 100px;
  padding: 0;
  font-family: sans-serif;
  background-image: url("assets/grainblog.png");
  background-size: 100vw 185px;
  background-repeat: no-repeat;
  /*note - you can set 2 background images on top of each other*/
}

.header {
  text-align: center;
  margin-top:-50px;
  color:white;
  font-family: "Helvetica Neue";
  font-size:26px;
  font-weight: 200;
}

.blurb {
  text-align: center;
  color: #5c5c5c;
  font-weight:100;
  line-height: 24px;
  padding: 5vw 0;
}

@media only screen and (min-width: 495px) {
  .header {
    text-align:right;
    font-weight: 200;
    font-size:40px;
  }

  .blurb {
    padding: 5vw 15vw;
  }
}


